a{
    text-decoration: none;
    display: inline-block;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header{
    font-family: 'Roboto', sans-serif;
}

.header__content{
    padding: 34px 0px 23px;
}

.header__content-inner{
    display: flex;
    justify-content: space-between;
}

.menu li{
    display: inline-block;
}

.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all 0.3s;
}
.menu a:hover{
    border-color: black;
}

.menu li+li{
    padding-left: 10px;
}