.intro__inner {
    display: flex;
    padding-top: 100px;
    padding-bottom: 120px;
    /*border-bottom: 1px solid;*/
    position: relative;
}

.intro__content{
    width: 50%;
}
.intro__subtitle{
    font-size: 2.13rem;
    color:black;
    font-weight: 200;
}

.intro__title{
    font-size: 3rem;
    color:black;
    font-size: 700;
}

.intro__text{
    font-size: 1.6rem;

}

.intro__photo{
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.btn{
    display: inline-block;
    vertical-align: top;
    font-size: 1.06rem;
    color:black;
    text-decoration: none;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 1rem 1.8rem;
    margin-top: 50px;
    transition: all 0.3s;
}

.btn:hover{
    background-color: black;
    color: white;
} 
