*{
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    font-family: 'PT Serif' , serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
